<div class="mt-4">
    <h3>Đăng Khóa học</h3>
</div>

<form method="post" action="/home/storecourse"> <!--xử lý riêng --> 
  <div class="form-group">
    <label for="exampleInputEmail1">Tên khóa học</label>
    <input type="text" class="form-control" id="name"name="name">
    
    <label for="exampleInputEmail1">Mô tả khóa học</label>
    <input type="text" class="form-control" id="description"name="description">
    
    <label for="exampleInputEmail1">Nhập link khóa học</label>
    <input type="text" class="form-control" id="image"name="image">
    
    <label for="exampleInputEmail1">Nhập tên truy cập</label>
    <input type="text" class="form-control" id="slug"name="slug">
    
  </div>
 
  <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>