<h2 style="text-align:center">Update bài thi</h2>
<form style="position:absolute;top:20%;left:25%;width:50%"method="post" action="/home/update/storeupdatebai" enctype="multipart/form-data"> <!--xử lý riêng --> 
  <div class="form-group">
    <label for="exampleInputEmail1">File đề thi</label>
     <input style="margin-top:5%"type="file" name="file"/>
    <hr/>
  </div>
 
  <input type="submit" class="btn btn-primary" value="upload"/>
</form>
