
  <div class="form-group"style="width: 50%;position:absolute;left:30%;margin-top:10%">
    <form method="post" action="/storelogin">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
    <button type="submit" class="btn btn-primary"style="margin-top:20px">Login</button>
    </form>
    <button type="submit" class="btn btn-primary"style="margin-top:20px"> <a  href="/register"style="color:white">Register</a></button>
    <button type="submit" class="btn btn-primary"style="margin-top:20px"><a  href="/admin"style="color:white">Admin</a></button>
  </div>
  

