 <div class="form-group"style="width: 50%;position:absolute;left:30%">
    <form method="post" action="/storeloginadmin">
    <label for="exampleInputEmail1">Email address admin</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
    <button type="submit" class="btn btn-primary"style="margin-top:20px">Login</button>
    </form>
  </div>
  